<h1>Staff Details</h1>
<h2>By Matthew Blain, S00211783</h2>
<h3>https://64709f923de51400f724a44e.mockapi.io/staffDetails</h3>
<div class="mt-5">
  <div class="row align-items-start">
    <div class="col-4">
      <h3>Name</h3>
      <p *ngFor="let staff of results">{{staff.lastName}},{{staff.firstName}}</p>
    </div>
    <div class="col-4">
      <h3>Job Title</h3>
      <p *ngFor="let staff of results">{{staff.jobtitle}}</p>
    </div>
    <div class="col-4">
      <h3>Country</h3>
      <p *ngFor="let staff of results">{{staff.country}}</p>
    </div>
  </div>
</div>
